.Task
    padding-inline: 20px 10px
    .content
        display: flex
        align-items: center
        justify-content: space-between
        .taskItem
            margin-block: 5px
            display: flex
            align-items: center
            gap: 0.7rem
            p
                font-weight: 300
            input
                background-color: peru
                width: 150px
            input[type=text]
                background: none
                border: 0
                border-bottom: 2px solid #1f003b
                outline: none
            input[type=text]::placeholder
                font-weight: 300
                color: #d8d8d8
        .controls
            button
                border: none
                background-color: transparent
                font-size: 20px
                line-height: 0px
                cursor: pointer
                transition: all 0.2s ease-in-out
            .edit:hover
                color: #d1ebff
            .delete:hover
                color: #9f2f2f

.hide
    display: none
.show
    display: block

.toggleStatus
    width: 1.1rem
    height: 1.1rem
    border: 2px solid #f9f9f9
    border-radius: 100%

.notStarted
    background-color: #bfbfbf
.inProgress
    background-color: #6b8ffb
.completed
    background-color: #88d095
